<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test thingy</title>
</head>
<body>
    <ul>
        <li><a href='/A1G'>Click here to go to A1G.</a></li>
        <li><a href='/A1F'>Click here to go to A1F.</a></li>
        <li><a href='/A1E'>Click here to go to A1E.</a></li>
        <li><a href='/B1G'>Click here to go to B1G.</a></li>
        <li><a href='/B1F'>Click here to go to B1F.</a></li>
        <li><a href='/B1E'>Click here to go to B1E.</a></li>
        <li><a href='/B2G'>Click here to go to B2G.</a></li>
        <li><a href='/B2F'>Click here to go to B2F.</a></li>
        <li><a href='/B2E'>Click here to go to B2E.</a></li>
        <li><a href='/B3G'>Click here to go to B3G.</a></li>
        <li><a href='/B3F'>Click here to go to B3F.</a></li>
        <li><a href='/B3E'>Click here to go to B3E.</a></li>
        <li><a href='/B4G'>Click here to go to B4G.</a></li>
        <li><a href='/B4F'>Click here to go to B4F.</a></li>
        <li><a href='/B4E'>Click here to go to B4E.</a></li>
        <li><a href='/C1G'>Click here to go to C1G.</a></li>
        <li><a href='/C1F'>Click here to go to C1F.</a></li>
        <li><a href='/C1E'>Click here to go to C1E.</a></li>
    </ul>

    <p>Each endpoint represents one box of the criteria, the individual code snippets can be seen in <a href="https://github.com/FernandoMeier/M323_LB02">this Github repo</a></p>
</body>
</html>